/* Estilos globais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #121212;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Garante que o body ocupe a altura total da tela */
}

/* Cabeçalho */
header {
    text-align: center;
    padding: 20px;
    width: 90%;
    max-width: 800px;
}

header h1 {
    font-size: 4em;
    color: #fff;
    margin: 0 0 10px;
}

header p {
    font-size: 1.5em;
    color: #bbb;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
}

/* Seção de Serviços */
.servicos {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
}

/* Configura dois serviços por linha em telas maiores */
.servico {
    background-color: #333;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: calc(37% - 20px); /* Ocupa 50% da largura, com margem para o gap */
    height: 360px;
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.servico:hover {
    transform: scale(1.05);
}

.servico h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 15px;
}

.servico p {
    font-size: 1.2em;
    color: #bbb;
    margin-bottom: 20px;
    line-height: 1.5;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
    .servico {
        width: 90%;
        max-width: 300px;
    }
}

/* Botão */
.botao {
    display: inline-block;
    background-color: #8A2BE2;
    color: white;
    padding: 15px 25px;
    font-size: 1.2em;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.botao:hover {
    background-color: #7a22d2;
    transform: scale(1.05);
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #bbb;
    background-color: #1e1e1e;
    width: 100%;
    margin-top: auto; /* Garante que o rodapé fique no final da página */
}

footer a {
    color: #8A2BE2;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }
    
    header p {
        font-size: 1.2em;
        text-align: center;
    }

    .servicos {
        gap: 10px;
    }

    .servico {
        width: 90%;
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 2em;
    }

    .botao {
        padding: 12px 20px;
        font-size: 1em;
    }
}
