/* Estilos globais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f2f2f2;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cabeçalho */
header {
    text-align: center;
    padding: 20px 20px 20px; /* Removido o padding superior */
    width: 90%;
    max-width: 800px;
    margin-top: 20px;
}

header h1 {
    font-size: 4em; /* Aumentado para 4em */
    color: #333;
    margin: 0 0 10px; /* Ajustado para não ter margem superior */
}

header p {
    font-size: 1.5em;
    color: #666;
    max-width: 600px; /* Limita a largura do subtítulo */
    margin: 0 auto; /* Centraliza o subtítulo */
    text-align: center; /* Centraliza o texto */
    line-height: 1.5; /* Melhora a legibilidade */
}

/* Seção de Serviços */
.servicos {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
}

.servico {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 300px;
    height: 360px;
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Garante que os botões fiquem alinhados */
}

.servico:hover {
    transform: scale(1.05);
}

.servico h2 {
    font-size: 2em; /* Diminuído para 2em */
    color: #333;
    margin-bottom: 15px;
    white-space: nowrap; /* Impede a quebra de linha para o título */
}

.servico p {
    font-size: 1.5em; /* Mantido o tamanho da fonte da descrição */
    color: #666;
    margin-bottom: 20px;
    line-height: 1.5;
}

/* Botão */
.botao {
    display: inline-block;
    background-color: #8A2BE2;
    color: white;
    padding: 15px 25px;
    font-size: 1.2em;
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.botao:hover {
    background-color: #7a22d2;
    transform: scale(1.05);
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #666;
    background-color: #e0e0e0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer a {
    color: #8A2BE2;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }
    
    header p {
        font-size: 1.2em;
        text-align: center;
    }

    .servicos {
        gap: 10px;
    }

    .servico {
        width: 90%;
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 2em;
    }

    .botao {
        padding: 12px 20px;
        font-size: 1em;
    }
}
